<div id="<%= dom_id passenger %>">
  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= passenger.contact_number %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= passenger.email_address %>
  </p>

</div>
