<div style="text-align: center;">
  <%= render "form", passenger: @passenger %>
  <br>
  <div class="button-container">
    <%= form_with(model: @passenger) do |form| %>
      <!-- Form fields -->
    <% end %>
  </div>
  <br>
</div>
