<p style="color: green"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to driver.name, driver %></td>
        <td><%= driver.contact_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New driver", new_driver_path %>