<div id="<%= dom_id bus %>">
  <p>
    <strong>Body number:</strong>
    <%= bus.body_number %>
  </p>

  <p>
    <strong>Plate number:</strong>
    <%= bus.plate_number %>
  </p>

  <% if bus.image.attached? %>
    <p>
      <strong>Image:</strong>
      <% image_tag bus.image %>
    </p>
  <% end %>

</div>
